
  <% if flash[:notice] %>
    <p class="notice"><%=h flash[:notice] %></p>
  <% end %>
    
  <br />

  <% unless @plans.nil? %>
    <%= @plans.each do |plan| %>
      <div style="margin-bottom: 12%;">
        <div style="float:left;width:85%;">
          <table>
            <tr>
              <td>User ID</td>
              <td>Plan ID</td>
              <td>Plan Votes</td>
            </tr>
            <tr>
              <td><%= plan.user.id %></td>
              <td><%= plan.id %></td>
              <td><%= plan.votes %></td>
            </tr>
          </table>
        </div>
      </div>
    <% end %>
  <% end %>
