
<%= form_for @user, :html => {:style => "margin-top:2%;margin-left:3%;"} do |f| %>

<% if @user.errors.any? %>
<div id="error_explanation">
  <h2 style="color:red;"><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

  <ul>
  <% @user.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
  </ul>
  
</div>
<% end %>

<div style="margin-bottom: 2ex;">
  <%= f.label "First Name" %><br />
  <%= f.text_field :first %>
</div>

<div style="margin-bottom: 2ex;">
  <%= f.label "Last Name" %><br />
  <%= f.text_field :last %>
</div>

<div style="margin-bottom: 2ex;">
  <%= f.label :username %><br />
  <%= f.text_field :username %>
</div>

<div style="margin-bottom: 2ex;">
  <%= f.label :user_password, 'Password' %><br />
  <%= f.password_field :password %>
</div>

<div style="margin-bottom: 2ex;">
  <%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %>
</div>

<div style="margin-bottom: 2ex;">
  <%= f.label :email %><br />
  <%= f.text_field :email %>
</div>

<div style="margin-bottom: 2ex;">
  <%= f.label :school %><br />
  <% schools_array = School.all.map {|school| [school.name, school.id]} %>
  <%= f.select :school_id, options_for_select(schools_array) %>
</div>

<div>
  <%= f.submit @button_text %>
</div>

<%#= select "moo", "moomoo", %w[rap rock country], {} %>

<% end %>
