
<%= form_for @user, :method => :post, :html => {:style => "margin:2% 0 0 3%;"} do |f| %>

<% if @user.errors.any? %>
<div id="error_explanation" style="margin:0 0 2em 0;color:red;">
    <h2><%= pluralize(@user.errors.count, "Error") %> prohibited this account from being created:</h2>

    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
</div>
<% end %>

<div style="margin-bottom: 2ex;">
  <%= f.label "First Name" %><br />
  <%= f.text_field :first %>
</div>

<div style="margin-bottom: 2ex;">
  <%= f.label "Last Name" %><br />
  <%= f.text_field :last %>
</div>

<div style="margin-bottom: 2ex;">
  <%= f.label :username %><br />
  <%= f.text_field :username %>
</div>

<div style="margin-bottom: 2ex;">
  <%= f.label :user_password, 'Password' %><br />
  <%= f.password_field :password %>
</div>

<div style="margin-bottom: 2ex;">
  <%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %>
</div>

<div style="margin-bottom: 2ex;">
  <%= f.label :email %><br />
  <%= f.text_field :email %>
</div>

<%#*<div style="margin-bottom: 2ex;">%>
  <%#= f.label :school %><br />
  <%#= f.select :school_id, options_from_collection_for_select(School.all, :id, :name) %>
<%#*</div>%>

<div>
  <%= f.submit @button_text %>
</div>

<% end %>
