
<div class="module-title"><h2 class="title"><span>User Home</span></h2></div>
<div class="module-inner">

  <br />

<% if current_user.paid == "true" %>
 <p>
   Ready to submit your business plan?
 </p>
  <%= link_to "Submit Plan", new_plan_url %>

  <br /><br />
<% elsif current_user.paid == "submitted" %>
  <%= link_to "Edit Plan", edit_plan_url(current_user.plan) %>

  <br /><br />
<% end %>
  
  <%= form_tag "https://www.sandbox.paypal.com/cgi-bin/webscr" do %>
    <%= hidden_field_tag :cmd, "_s-xclick" %>
    <%= hidden_field_tag :encrypted, current_user.paypal_encrypted(10, "Votes", 1) %>
    <%#*<%= image_submit_tag("buy_now_paypal.gif", :border => 0)%>
    <%= submit_tag "Purchase Votes" %>
  <% end %>

  <br />

  <%= form_tag "https://www.sandbox.paypal.com/cgi-bin/webscr" do %>
    <%= hidden_field_tag :cmd, "_s-xclick" %>
    <%= hidden_field_tag :encrypted, current_user.paypal_encrypted(100, "12 Votes", 0) %>
    <%#*<%= image_submit_tag("buy_now_paypal.gif", :border => 0)%>
    <%= submit_tag "Purchase 12 Votes" %>
  <% end %>

  <br />

<% if current_user.paid == "false" %>
  <%= form_tag "https://www.sandbox.paypal.com/cgi-bin/webscr" do %>
    <%= hidden_field_tag :cmd, "_s-xclick" %>
    <%= hidden_field_tag :encrypted, current_user.paypal_encrypted(50, "Business Plan", 0) %>
    <%#*<%= image_submit_tag("buy_now_paypal.gif", :border => 0)%>
    <%= submit_tag "Purchase Business Plan" %>
  <% end %>

  <br />
<% end %>

  <%= link_to "Change Password", edit_user_url(current_user) %>

</div>


