<h1>Listing users</h1>

<% form_tag "https://www.sandbox.paypal.com/cgi-bin/webscr" do %>
  <%= hidden_field_tag :cmd, "_s-xclick" %>
  <%= hidden_field_tag :encrypted, current_user.paypal_encrypted %>
  <p><%= image_submit_tag("buy_now_paypal.gif", :border => 0) %></p>
<% end %>

<table class="centered">
  <tr>
    <th>First</th>
    <th>Last</th>
    <th>Id</th>
    <th>Paid</th>
    <th>Votes</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%=h user.first %></td>
    <td><%=h user.last %></td>
    <td><%=h user.id %></td>
    <td><%=h user.paid %></td>
    <td><%=h user.votes %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User', new_user_path %>
<br /><br />
<%= link_to 'Home', :root %>
