
<div class="module-title"><h2 class="title"><span>User Home</span></h2></div>
<div class="module-inner">

  <br/>

  <% if flash[:notice] %>
    <p class="notice"><%=h flash[:notice] %></p>
  <% end %>

  <%= link_to "Submit Plan", new_plan_url %>

  <br/><br/>

  <%= form_tag "https://www.sandbox.paypal.com/cgi-bin/webscr" do %>
    <%= hidden_field_tag :cmd, "_s-xclick" %>
    <%= hidden_field_tag :encrypted, current_user.paypal_encrypted(10, "Votes", 1) %>
    <%#*<%= image_submit_tag("buy_now_paypal.gif", :border => 0)%>
    <%= submit_tag "Purchase Votes" %>
  <% end %>

  <br />

  <%= form_tag "https://www.sandbox.paypal.com/cgi-bin/webscr" do %>
    <%= hidden_field_tag :cmd, "_s-xclick" %>
    <%= hidden_field_tag :encrypted, current_user.paypal_encrypted(50, "Business Plan", 0) %>
    <%#*<%= image_submit_tag("buy_now_paypal.gif", :border => 0)%>
    <%= submit_tag "Purchase Business Plan" %>
  <% end %>

  <br />

  <%= link_to "Edit Profile", edit_user_url(current_user) %>

</div>


