
<div class="module-title"><h2 class="title"><span>User Home</span></h2></div>
<div class="module-inner">

<% if flash[:notice] %>
  <p class="notice"><%=h flash[:notice] %></p>
<% end %>

<% if current_user.paid == "true" %>
 <p>
   <i>Ready to write your business plan?</i>
 </p>
  <%= link_to "Submit Plan", new_plan_url %>
<% elsif current_user.paid == "submitted" %>
  <%= link_to "Edit Plan", edit_plan_url(current_user.plan) %>
<% end %>

  <br/><br/>
  
  <%= form_tag "https://www.paypal.com/cgi-bin/webscr" do %>
    <%= hidden_field_tag :cmd, "_s-xclick" %>
    <%= hidden_field_tag :encrypted, current_user.paypal_encrypted(10, "Votes", 1) %>
    <%#*<%= image_submit_tag("buy_now_paypal.gif", :border => 0)%>
    <%= submit_tag "Purchase Votes" %>
  <% end %>

  <br />

<% if current_user.paid == "false" %>
  <%= form_tag "https://www.paypal.com/cgi-bin/webscr" do %>
    <%= hidden_field_tag :cmd, "_s-xclick" %>
    <%= hidden_field_tag :encrypted, current_user.paypal_encrypted(50, "Business Plan", 0) %>
    <%#*<%= image_submit_tag("buy_now_paypal.gif", :border => 0)%>
    <%= submit_tag "Purchase Business Plan" %>
  <% end %>
<% end %>

  <br />

  <%= link_to "Edit Profile", edit_user_url(current_user) %>

</div>


