
<div class="module-title"><h2 class="title"><span>Welcome to Creed</span></h2></div>
<div class="clear"></div>
<div class="module-inner">
  <div style="color: #333333; font-family: Tahoma, Helvetica, Arial, sans-serif; font-size: 76%; background-image: initial; background-attachment: initial; background-origin: initial; background-clip: initial; background-color: #ffffff; line-height: 1.3em; margin: 8px;">
    <div style="color: #333333; font-family: Tahoma, Helvetica, Arial, sans-serif; font-size: 76%; background-image: initial; background-attachment: initial; background-origin: initial; background-clip: initial; background-color: #ffffff; line-height: 1.3em; margin: 8px;">
      <h1 style="font-size: 16px; font-family: Helvetica, Arial, sans-serif; font-weight: bold; color: #666666; text-align: left;"><span style="color: #333333; font-family: Tahoma, Helvetica, Arial, sans-serif; font-weight: normal; font-size: 9px;">A Message</span></h1>
      <p><span style="color: #333333; font-family: Tahoma, Helvetica, Arial, sans-serif; font-weight: normal; font-size: 9px;"><br /></span></p>
    </div>
  </div>
  <ul style="padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 15px; outline-width: 0px; outline-style: initial; outline-color: initial; background-image: initial; background-attachment: initial; background-origin: initial; background-clip: initial; background-color: transparent; list-style-image: none; margin: 0px; border: 0px initial initial;">
    <li style="outline-width: 0px; outline-style: initial; outline-color: initial; background-image: initial; background-attachment: initial; background-origin: initial; background-clip: initial; background-color: transparent; padding: 0px; margin: 0px; border: 0px initial initial;">
      <p><a href="/" title="Bullet Point" style="outline-width: initial; outline-style: none; outline-color: initial; background-image: initial; background-attachment: initial; background-origin: initial; background-clip: initial; background-color: transparent; padding: 0px; margin: 0px; border: 0px initial initial;"><span style="font-family: Helvetica, Arial, FreeSans, sans-serif; color: #666666;"><span style="line-height: 20px;">Bullet Point</span></span></a></p>
    </li>
    <li style="outline-width: 0px; outline-style: initial; outline-color: initial; background-image: initial; background-attachment: initial; background-origin: initial; background-clip: initial; background-color: transparent; padding: 0px; margin: 0px; border: 0px initial initial;">
      <p><a href="/" title="Link 1" style="outline-width: initial; outline-style: none; outline-color: initial; background-image: initial; background-attachment: initial; background-origin: initial; background-clip: initial; background-color: transparent; padding: 0px; margin: 0px; border: 0px initial initial;"><span style="font-family: Helvetica, Arial, FreeSans, sans-serif; color: #666666;"><span style="line-height: 20px;">Link 1</span></span></a></p>
    </li>
    <li style="outline-width: 0px; outline-style: initial; outline-color: initial; background-image: initial; background-attachment: initial; background-origin: initial; background-clip: initial; background-color: transparent; padding: 0px; margin: 0px; border: 0px initial initial;">
      <p><a href="/" target="_self" title="Link 1"><span style="outline-style: none; background-color: transparent; padding: 0px; margin: 0px;"><span style="font-family: Helvetica, Arial, FreeSans, sans-serif; color: #666666;"><span style="line-height: 20px;">Link 2</span></span></span></a></p>
    </li>
  </ul>

  <% if flash[:notice] %>
    <p class="notice"><%=h flash[:notice] %></p>
  <% else %>
    <p class="notice">No User Logged In</p>
  <% end %>

  <p><%= link_to 'New User', new_user_path %></p>

  <p><%= link_to 'Click Here Once You\'re Logged In', users_path %></p>

  <div class="module-title"><h2 class="title"><span>MOOMOO</span></h2></div>




  <div>
    <%= form_tag home_login_path do %>
    <fieldset>
      <legend>Please Log In</legend>
      <div>
        <label for="name">Name:</label>
        <%= text_field_tag :username, params[:username] %>
      </div>
      <div>
        <label for="password">Password:</label>
        <%= password_field_tag :password, params[:password] %>
      </div>
      <div>
        <%= submit_tag "Login" %>
      </div>
    </fieldset>
    <% end %>
  </div>

  <p><%= link_to "Logout", home_logout_path %></p>

  <p class="rt-readon-surround">
    <a class="readon" href="/" >
      <span>Read More...</span>
    </a>
  </p>



</div>

