<%= form_for(@plan) do |f| %>
  <% if @plan.errors.any? %>
    <div id="error_explanation">
      <h2 style="color:red;"><%= pluralize(@plan.errors.count, "error") %> prohibited this plan from being saved:</h2>

      <ul>
      <% @plan.errors.full_messages.each do |msg| %>
        <li style="color:red;"><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :subtitle %><br />
    <%= f.text_field :subtitle %>
  </div>
  <div class="field">
    <%= f.label :target_title %><br />
    <%= f.text_area :target_title %>
  </div>
  <div class="field">
    <%= f.label :target_body %><br />
    <%= f.text_area :target_body %>
  </div>
  <div class="field">
    <%= f.label :financial %><br />
    <%= f.text_area :financial %>
  </div>
  <div class="field">
    <%= f.label :status %><br />
    <%= f.text_area :status %>
  </div>
  <div class="field">
    <%= f.label :action %><br />
    <%= f.text_area :action %>
  </div>
  <div class="actions">
    <%= f.submit "Change Plan" %>
  </div>
<% end %>
