

<script type="text/javascript" >
   $(document).ready(function() {
      $("textarea").markItUp(mySettings);
   });
</script>


<%= form_for(@plan) do |f| %>
  <% if @plan.errors.any? %>

<div id="error_explanation">
  <h2 style="color:red;"><%= pluralize(@plan.errors.count, "error") %> prohibited this plan from being saved:</h2>

  <ul>
  <% @plan.errors.full_messages.each do |msg| %>
    <li style="color:red;"><%= msg %></li>
  <% end %>
  </ul>
</div>

<% end %>

<div style="height:7ex;margin: 0 0 3ex 0;">
  <div style="float:left;margin-left: 3%;">
    <%= f.label :title %><br />
    <%= f.text_field :title, :size => 53 %>
  </div>
  <div style="float:left;margin-left: 3%;">
    <%= f.label :subtitle %><br />
    <%= f.text_field :subtitle, :size => 52 %>
  </div>
</div>

<div style="margin: 0 0 0 3%;">
  <%= f.label :target_title %><br />
  <%= f.text_area :target_title%>
</div>

<div style="margin: 0 0 0 3%;">
  <%= f.label :target_body %><br />
  <%= f.text_area :target_body %>
</div>

<div style="margin: 0 0 0 3%;">
  <%= f.label :financial %><br />
  <%= f.text_area :financial %>
</div>

<div style="margin: 0 0 0 3%;">
  <%= f.label :status %><br />
  <%= f.text_area :status %>
</div>

<div style="margin: 0 0 0 3%;">
  <%= f.label :action %><br />
  <%= f.text_area :action %>
</div>

<br />

<div style="margin-left: 3ex;clear:both;">
  <%= f.submit @button_text %>
</div>

<% end %>
