
<div class="module-inner">


  <% if flash[:notice] %>
    <p class="notice"><%=h flash[:notice] %></p>
  <% else %>
    <p class="notice">No User Logged In</p>
  <% end %>

  <h1>Listing plans</h1>

  <table class="centered">
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th>Conclusion</th>
      <th>Id</th>
    </tr>

  <% @plans.each do |plan| %>
    <tr>
      <td><%=h plan.title %></td>
      <td><%=h plan.body %></td>
      <td><%=h plan.conclusion %></td>
      <td><%=h plan.id %></td>
      <td><%= link_to 'Show', plan %></td>
      <td><%= link_to 'Edit', edit_plan_path(plan) %></td>
      <td><%= link_to 'Destroy', plan, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
  </table>

  <br />

  <%= link_to 'New Plan', new_plan_path %>
  <br /><br />
  <%= link_to 'Home', :root %>

  <p class="rt-readon-surround">
    <a class="readon" href="/" >
      <span>Read More...</span>
    </a>
  </p>

</div>




