
<div class="module-title"><h2 class="title"><span>Business Plans</span></h2></div>
<div class="module-inner">

<br/>

<% if flash[:notice] %>
  <p class="notice"><%=h flash[:notice] %></p>
<% end %>
  
  <br/>

  <% @plans.each do |plan| %>
    <div style="margin-bottom: 12%;">
      <div style="float:left;width:15%;">
        <p class="rt-readon-surround">
          <%= link_to "Read More...", plan, :class => "readon", :style => "color:#666666;" %>
        </p>
        <p class="rt-readon-surround">
          <%= link_to "Vote", vote_url(:plan_id => plan), :class => "readon", :style => "text-align:center;width:70px;color:#666666", :confirm => "Are you sure?" %>
        </p>
      </div>
      <div style="float:left;width:85%;">
        <p>
          <%=h plan.title %>
          <br/>
          <%=h plan.subtitle %>
          <br/>
          <%=h plan.target_title %>
        </p>
      </div>
    </div>
  <% end %>

</div>




