
<div class="module-inner">

  <%= @blah %>

  <% if flash[:notice] %>
    <p class="notice"><%=h flash[:notice] %></p>
  <% end %>

  <%= link_to "Submit Plan", new_plan_url %>

  <% @plans.each do |plan| %>
    <p>
      <%=h plan.title %>
      <br/>
      <%=h plan.subtitle %>
      <br/>
      <%=h plan.target_title %>
    </p>
  <% end %>
    

  <br />


  <p class="rt-readon-surround">
    <a class="readon" href="/" >
      <span>Read More...</span>
    </a>
  </p>

</div>




