
<div class="module-inner" style="padding: 0 8em 0 8em;">

  <% if flash[:notice] %>
    <p class="notice"><%=h flash[:notice] %></p>
  <% end %>

  <p style="text-align: center;">
    <%=h @plan.title %>
  </p>

  <p style="text-align: center;">
    <%=h @plan.subtitle %>
  </p>

  <p>
    <b style="text-decoration:underline">TARGET:</b>
    <pre><%=h @plan.target_title %></pre>
    <pre><%=h @plan.target_body, html_options => "style=word-wrap:break-word;" %></pre>
  </p>

  <p>
    <b style="text-decoration:underline">FINANCIAL:</b>
    <pre><%=h @plan.financial %></pre>
  </p>

  <p>
    <b style="text-decoration:underline">STATUS:</b>
    <pre><%=h @plan.status %></pre>
  </p>

  <p>
    <b style="text-decoration:underline">ACTION:</b>
    <pre><%=h @plan.action %></pre>
  </p>

</div>


