
<div class="module-inner">


  <% if flash[:notice] %>
    <p class="notice"><%=h flash[:notice] %></p>
  <% end %>

  <p style="text-align: center;">
    <%=h @plan.title %>
  </p>

  <p style="text-align: center;">
    <%=h @plan.subtitle %>
  </p>

  <p>
    <b style="text-decoration:underline">TARGET:</b>
    <%=h @plan.target_title %>
    <%=h @plan.target_body %>
  </p>

  <p>
    <b style="text-decoration:underline">FINANCIAL:</b>
    <%=h @plan.financial %>
  </p>

  <p>
    <b style="text-decoration:underline">STATUS:</b>
    <%=h @plan.status %>
  </p>

  <p>
    <b style="text-decoration:underline">ACTION:</b>
    <%=h @plan.action %>
  </p>


</div>


