
<div class="module-inner">


  <% if flash[:notice] %>
    <p class="notice"><%=h flash[:notice] %></p>
  <% else %>
    <p class="notice">No User Logged In</p>
  <% end %>

  <p>
    <b>Title:</b>
    <%=h @plan.title %>
  </p>

  <p>
    <b>Subtitle:</b>
    <%=h @plan.subtitle %>
  </p>

  <p>
    <b>Target:</b>
    <%=h @plan.target_title %>
    <%=h @plan.target_body %>
  </p>

  <p>
    <b>Financial:</b>
    <%=h @plan.financial %>
  </p>

  <p>
    <b>Status:</b>
    <%=h @plan.status %>
  </p>

  <p>
    <b>Action:</b>
    <%=h @plan.action %>
  </p>


  <%= link_to 'Edit', edit_plan_path(@plan) %> |
  <%= link_to 'Back', plans_path %>

  <p class="rt-readon-surround">
    <a class="readon" href="/" >
      <span>Read More...</span>
    </a>
  </p>

</div>


