
<%= javascript_include_tag :defaults %>

<div class="module-inner" style="margin: 0 5em 0 5em; color: black; font-family:'Times New Roman', Times, serif;font-size:medium;">

  <h3 style="text-align: center;">
    <%=h @title %>
  </h3>

  <p style="text-align: center;">
    <i><%=h @subtitle %></i>
  </p>

  <p><b style="text-decoration:underline">TARGET:</b>
    <%=h @target_title %>
  </p>
  
  <p><%=h @target_body.html_safe %></p>

  <p>
    <b style="text-decoration:underline">FINANCIAL:</b>
    <%=h @financial.html_safe %>
  </p>

  <p>
    <b style="text-decoration:underline">STATUS:</b>
    <%=h @status.html_safe %>
  </p>

  <p>
    <b style="text-decoration:underline">ACTION:</b>
    <%=h @action.html_safe %>
  </p>

  <p class="rt-readon-surround" style="margin:5em 0 3em 38%;">
    <%= link_to "Vote For This Plan", vote_url(:plan_id => @plan), :class => "readon", :style => "text-align:center;width:150px;", :confirm => "Are you sure?" %>
  </p>

</div>


