<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-gb" lang="en-gb" >
  
  <head>
    <%= stylesheet_link_tag 'visibleequity' %>
    <%= javascript_include_tag 'visibleequity' %>
    <%= csrf_meta_tag %>
    <title>Creed Business Plans</title>
    
    <style type="text/css">
      <!--
      #rt-main-surround ul.menu li.active > a, #rt-main-surround ul.menu li.active > .separator, #rt-main-surround ul.menu li.active > .item, h2.title span, #rt-submenu ul.menu li.active > .item, #rt-submenu .nopill ul.menu li > .item:hover, .menutop li.root:hover > .item, .menutop li.root.f-mainparent-itemfocus > .item, .menu-type-splitmenu .menutop li:hover .item {color:#285B90;}
      a, body .menutop .nolink, #rt-main-surround ul.menu a:hover, #rt-main-surround ul.menu .separator:hover, #rt-main-surround ul.menu .item:hover {color:#285B90;}
      -->
    </style>


    <!--<script type="text/javascript">
      var rokboxPath = '/plugins/system/rokbox/';
			window.addEvent('domready', function() {
				var modules = ['rt-block'];
				var header = ['h3','h2','h1'];
				GantryBuildSpans(modules, header);
			});

      InputsExclusion.push('.content_vote')
      window.addEvent('domready', function() {new GantryPill('ul.menutop', {duration: 250, transition: Fx.Transitions.Sine.easeOut, color: false})});
      window.addEvent('domready', function() {new GantryPill('#rt-submenu2', {duration: 250, transition: Fx.Transitions.Sine.easeOut, color: '#285B90'})});
    </script>-->

  </head>


  <body  class="backgroundlevel-low bodylevel-high cssstyle-style3 showcase-color1 articletitle-color1 font-family-helvetica font-size-is-default menu-type-splitmenu col12 ">
    <div class="rt-container">
      <div id="rt-drawer">
        <div class="clear"></div>
      </div>

      <div class="rt-surround-top"></div>
      <div class="rt-surround">
        <div id="rt-header">
          <div class="rt-grid-3 rt-alpha">
            <div class="rt-block">
              <a href="/" id="rt-logo"></a>
            </div>
          </div>
          <div class="rt-grid-9 rt-omega">
            <ul class="menutop level1" >

              <li class="<% if controller.controller_name == 'home' %>active<% else %><% end %>" >
                <a class="orphan item" href="/"  >
                  <span>Home</span>
                </a>
              </li>
              <li class="<% if controller.controller_name == 'users' %>active<% else %><% end %>" >
                <a class="orphan item subtext" href="/users"  >
                  <span>Users<em>Fresh from the Lab</em></span>
                </a>
              </li>
              <li class="<% if controller.controller_name == 'plans' %>active<% else %><% end %>" >
                <a class="orphan item subtext" href="/plans"  >
                  <span>Plans<em>Something</em></span>
                </a>
              </li>
              <% if logged_in? %>
                <li style="float:right; margin-top: 3%; height: 30px;">
                  <%= link_to "Logout", home_logout_path %>
                </li>
                <li style="color:#285B90;font-size: 1.2em;line-height: 1.8em;float:right; margin-top: 3%; height: 30px;">
                  <%= "Welcome, #{current_user.username}" %>
                </li>
              <% else %>
                <li style="float:right; margin-top: 3%; height: 30px;">
                  <%= link_to "Login", home_login_path %>
                </li>
              <% end %>
              
            </ul>
          </div>
          <div class="clear"></div>
        </div>
        <div id="rt-showcase">
          <div class="rt-header-spacer"></div>
          <div class="clear"></div>
        </div>
        <div id="rt-main-divider"></div>
        <div id="rt-main-surround">


          <!-- rt-breadcrumbs -->
          <!--<div id="rt-breadcrumbs">
            <div class="rt-breadcrumb-surround">
              <a href="/" id="breadcrumbs-home"></a>
              <span class="breadcrumbs pathway">
              </span>
            </div>
            <div class="clear"></div>
          </div>-->


          <div id="rt-feature">
            <div class="rt-grid-12 rt-alpha rt-omega">
              <div class="ribbon1">
                <div class="rt-block">
                  <div class="module-content">

                    <%= yield %>
          
                  </div>
                </div>
              </div>
            </div>
          </div>



          <!-- rt-main  -->
          <div id="rt-main" class="mb12">
            <div class="rt-main-inner">
              <div class="rt-grid-12 ">
                <div class="rt-block">
                  <div id="rt-mainbody">
                    <div class="rt-joomla ">
                      <div class="rt-blog">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="clear"></div>
            </div>
          </div>

          <!-- rt-footer A Menu -->
          <div id="rt-footer">
            <div class="rt-grid-12 rt-alpha rt-omega">
              <div class="_menu">
                <div class="rt-block">
                  <div class="module-content">
                    <div class="module-title"><h2 class="title">A Menu</h2></div>
                    <div class="clear"></div>
                    <div class="module-inner">
                      <table width="100%" border="0" cellpadding="0" cellspacing="0">
                        <tr ><td><a href="/" class="mainlevel" >Link 3</a></td></tr>
                        <tr ><td><a href="/" class="mainlevel" >Link 4</a></td></tr>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="clear"></div>
          </div>
        </div>


        <!-- rt-copyright Creed, 2010 Row -->
        <div id="rt-copyright">
          <div class="rt-grid-12 rt-alpha rt-omega">
            <div class="clear"></div>
            <div class="rt-block">
              <div class="clear"></div>
              <span class="copytext">Creed, 2010</span>
            </div>
          </div>
          <div class="clear"></div>
        </div>
      </div>

      <!-- Divider -->
      <div class="rt-surround-bottom"></div>

      <!-- rt-debug Scroll To Top Row -->
      <div id="rt-debug">
        <div class="rt-grid-12 rt-alpha rt-omega">
          <a href="#" id="gantry-totop"><span>Scroll To Top</span></a>
        </div>
        <div class="clear"></div>
      </div>
    </div>
  </body>
</html>
