<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-gb" lang="en-gb" >
  
  <head>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag :defaults %>
    <%= csrf_meta_tag %>
    <title>CREED Business Plans</title>

    <%= favicon_link_tag %>

  </head>


  <body  class="backgroundlevel-low bodylevel-high cssstyle-style3 showcase-color1 articletitle-color1 font-family-helvetica font-size-is-default menu-type-splitmenu col12 ">
    <div class="rt-container">
      <div id="rt-drawer">
        <div class="clear"></div>
      </div>

      <div class="rt-surround-top"></div>
      <div class="rt-surround">
        <div id="rt-header">
          <div class="rt-grid-3 rt-alpha">
            <div class="rt-block">
              <a href="/" id="rt-logo"></a>
            </div>
          </div>
          <div class="rt-grid-9 rt-omega">
            <ul class="menutop level1" >

              <li class="<% if controller.controller_name == 'home' && controller.action_name == 'index' %>active<% else %><% end %>" >
                <a class="orphan item" href="/"  >
                  <span>CREED Home</span>
                </a>
              </li>
              <li class="<% if controller.controller_name == 'users' %>active<% else %><% end %>" >
                <a class="orphan item subtext" href="/users"  >
                  <span>Users<em>you central</em></span>
                </a>
              </li>
              <li class="<% if controller.controller_name == 'plans' %>active<% else %><% end %>" >
                <a class="orphan item subtext" href="/plans"  >
                  <span>Plans<em>check them out</em></span>
                </a>
              </li>
              <li class="<% if controller.action_name == 'register' %>active<% else %><% end %>" >
                <a class="orphan item subtext" href="/register"  >
                  <span>Register<em>get started today</em></span>
                </a>
              </li>
              <% if logged_in? %>
                <li style="float:right; margin-top: 3%; margin-right: 3%; height: 30px;">
                  <%= link_to "Logout", logout_url %>
                </li>
                <li style="color:#285B90;font-size: 1.2em;line-height: 1.8em;float:right; margin-top: 3%; margin-right: 3%; height: 30px;">
                  <%=h "Welcome, #{current_user.username}" %>
                </li>
              <% else %>
                <li style="float:right; margin-top: 3%; margin-right: 3%; height: 30px;">
                  <%= link_to "Login", register_url %>
                </li>
              <% end %>
              
            </ul>
          </div>
          <div class="clear"></div>
        </div>
        <div id="rt-showcase">
          <div class="rt-header-spacer"></div>
          <div class="clear"></div>
        </div>
        <div id="rt-main-divider"></div>
        <div id="rt-main-surround">


          <!-- rt-breadcrumbs -->
          <!--<div id="rt-breadcrumbs">
            <div class="rt-breadcrumb-surround">
              <a href="/" id="breadcrumbs-home"></a>
              <span class="breadcrumbs pathway">
              </span>
            </div>
            <div class="clear"></div>
          </div>-->


          <div id="rt-feature">
            <div class="rt-grid-12 rt-alpha rt-omega">
              <div class="ribbon1">
                <div class="rt-block">
                  <div class="module-content">

                    <%= yield %>
          
                  </div>
                </div>
              </div>
            </div>
          </div>



          <!-- rt-main  -->
          <div id="rt-main" class="mb12">
            <div class="rt-main-inner">
              <div class="rt-grid-12 ">
                <div class="rt-block">
                  <div id="rt-mainbody">
                    <div class="rt-joomla ">
                      <div class="rt-blog">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="clear"></div>
            </div>
          </div>

          <!-- rt-footer A Menu -->
          <%#*<div id="rt-footer">%>
            <%#*<div class="rt-grid-12 rt-alpha rt-omega">%>
              <%#*<div class="_menu">%>
                <%#*<div class="rt-block">%>
                  <%#*<div class="module-content">%>
                    <%#*<div class="module-title"><h2 class="title">A Menu</h2></div>%>
                    <%#*<div class="clear"></div>%>
                    <%#*<div class="module-inner">%>
                      <%#*<table width="100%" border="0" cellpadding="0" cellspacing="0">%>
                        <%#*<tr ><td><a href="/" class="mainlevel" >Link</a></td></tr>%>
                      <%#*</table>%>
                    <%#*</div>%>
                  <%#*</div>%>
                <%#*</div>%>
              <%#*</div>%>
            <%#*</div>%>
            <%#*<div class="clear"></div>%>
          <%#*</div>%>
        </div>


        <!-- rt-copyright CREED, 2010 Row -->
        <div id="rt-copyright">
          <div class="rt-grid-12 rt-alpha rt-omega">
            <div class="clear"></div>
            <div class="rt-block">
              <div class="clear"></div>
              <span class="copytext">CREED, 2010&copy;</span>
            </div>
          </div>
          <div class="clear"></div>
        </div>
      </div>

      <!-- Divider -->
      <div class="rt-surround-bottom"></div>

      <!-- rt-debug Scroll To Top Row -->
      <div id="rt-debug">
        <div class="rt-grid-12 rt-alpha rt-omega">
          <a href="#" id="gantry-totop"><span>Scroll To Top</span></a>
        </div>
        <div class="clear"></div>
      </div>
    </div>
  </body>
</html>
