<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-gb" lang="en-gb" >
  
  <head>
    <%= stylesheet_link_tag "application.css" %>
    <%= javascript_include_tag :defaults, "jquery.js" %>

    <script>
      jQuery.noConflict();
    </script>

    <script type="text/javascript" src="../../markitup/jquery.markitup.js"></script>
    <script type="text/javascript" src="../../markitup/sets/bbcode/set.js"></script>
    
    <link rel="stylesheet" type="text/css" href="../../markitup/skins/markitup/style.css" />
    <link rel="stylesheet" type="text/css" href="../../markitup/sets/bbcode/style.css" />
    
    

    
    <%= csrf_meta_tag %>
    
    <title>CREED Business Plans</title>

    <%= favicon_link_tag %>

  </head>


  <body  class="backgroundlevel-low bodylevel-high cssstyle-style3 showcase-color1 articletitle-color1 font-family-helvetica font-size-is-default menu-type-splitmenu col12 ">
    <div class="rt-container">
      <div id="rt-drawer">
        <div class="clear"></div>
      </div>

      <div class="rt-surround-top"></div>
      <div class="rt-surround">
        <div id="rt-header">
          <div class="rt-grid-3 rt-alpha">
            <div class="rt-block">
              <a id="rt-logo" href="http://www.creedinc.org"></a>
            </div>
          </div>
          <div class="rt-grid-9 rt-omega">
            <%= render 'home/topbar' %>
          </div>
          <div class="clear"></div>
        </div>
        <div id="rt-showcase">
          <div class="rt-header-spacer"></div>
          <div class="clear"></div>
        </div>
        <div id="rt-main-divider"></div>
        <div id="rt-main-surround">

          <!-- rt-breadcrumbs -->
          <div id="rt-breadcrumbs">
            <div class="rt-breadcrumb-surround">
              <%#*<a href="/" id="breadcrumbs-home"></a>%>
              <span class="breadcrumbs pathway">
              </span>
            </div>
            <div class="clear"></div>
          </div>

          <% if flash[:notice] %>
          <div style="margin: 2em 20em 0 2em;">
            <p style="color:red;font-size:140%;"><strong><%= flash[:notice] %></strong></p>
          </div>
          <% end %>

          <div id="rt-feature">
            <div class="rt-grid-12 rt-alpha rt-omega">
              <div class="ribbon1">
                <div class="rt-block">
                  <div class="module-content">
                    
                    <%= yield %>

                  </div>
                </div>
              </div>
            </div>
          </div>


          <!-- rt-footer A Menu -->
          <%#*<div id="rt-footer">%>
            <%#*<div class="rt-grid-12 rt-alpha rt-omega">%>
              <%#*<div class="_menu">%>
                <%#*<div class="rt-block">%>
                  <%#*<div class="module-content">%>
                    <%#*<div class="module-title"><h2 class="title">A Menu</h2></div>%>
                    <%#*<div class="clear"></div>%>
                    <%#*<div class="module-inner">%>
                      <%#*<table width="100%" border="0" cellpadding="0" cellspacing="0">%>
                        <%#*<tr ><td><a href="/" class="mainlevel" >Link</a></td></tr>%>
                      <%#*</table>%>
                    <%#*</div>%>
                  <%#*</div>%>
                <%#*</div>%>
              <%#*</div>%>
            <%#*</div>%>
            <div class="clear"></div>
          <%#*</div>%>


        </div>


        <!-- rt-copyright CREED, 2010 Row -->
        <div id="rt-copyright">
          <div class="rt-grid-12 rt-alpha rt-omega">
            <div class="clear"></div>
            <div class="rt-block">
              <div class="clear"></div>
              <span class="copytext"><a href="http://www.creedinc.org">CREED, 2010&copy;</a></span>
            </div>
          </div>
          <div class="clear"></div>
        </div>
      </div>

      <!-- Divider -->
      <div class="rt-surround-bottom"></div>

      <!-- rt-debug Scroll To Top Row -->
      <div id="rt-debug">
        <div class="rt-grid-12 rt-alpha rt-omega">
          <a href="#" id="gantry-totop"><span>Scroll To Top</span></a>
        </div>
        <div class="clear"></div>
      </div>
    </div>
  </body>
</html>
